{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "inline-dotenv",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@greeneggs": "./src"
        }
      }
    ]
  ]
}
